.logo {
  display: inline-block;
  color: #7b52ab;
  font-size: 14px;
  font-weight: 500;
}
.logo::before {
  content: "";
  display: block;
  height: 2.5px;
  background: linear-gradient(90.03deg, #00ddff 0%, #ff00d4 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.logo::after {
  content: "";
  display: block;
  height: 2.5px;
  background: linear-gradient(90.03deg, #00ddff 0%, #ff00d4 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
