.book-content {
  padding: 25px;
}

.book-content-card {
  display: flex;
  justify-content: space-between;

  background: white;
  &__info {
    display: flex;
    column-gap: 20px;
  }
  &__image {
    height: 270px;
    width: 170px;
  }
  &__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__text {
    max-width: 50%;
    padding: 15px 0px 15px 0px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__author {
    margin-bottom: 13px;
  }
  &__decription {
    color: #2c2c31;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
  }
  &__right {
    padding: 15px 20px;
  }
  &__rating {
    display: flex;
    height: 100px;
    width: 200px;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    flex-direction: column;
  }
  &__ratblock {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  &__ratblock span {
  }
  &__star {
    color: orange;
  }
  &__publishhouse {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    color: #5d5c5c;
  }
  &__publish {
    font-size: 15px;
    font-weight: 500;
    color: #999999;
  }
  &__date {
    font-size: 15px;
    font-weight: 500;
    color: #999999;
  }
  &__page {
    color: #0f4575;
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
  }
  &__add {
    display: flex;
    cursor: pointer;
    border: none;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(94.43deg, #a464f1 -18.98%, #efbdd4 113.48%);
    width: 230px;
    height: 45px;
    color: rgb(226, 241, 254);
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(187, 127, 232, 0.4);
    transition: all 0.5s ease;
  }
  &__add:hover {
    background: linear-gradient(94.43deg, #7c1cf1cc -18.98%, #f3539dbe 113.48%);
  }
  &__add:active {
    transform: translateY(3px);
  }
}
