.custom-input {
  position: relative;
  height: 30px;

  &__icon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 40px;
    border: none;
    cursor: pointer;
    background: none;
  }
  &__icon:hover {
    background-color: #e4dddd;
    box-shadow: 0px 0px 7px 2px #d8d6d6;
    border-radius: 5px;
  }
  &__input {
    background-color: #f4f4f4;
    border: none;
    width: 350px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    color: #2c2c31;
    padding: 0px 45px 0px 10px;
    border-radius: 5px;
  }
  &__input::placeholder {
    color: #2c2c31ad;
  }
  &__input:focus {
    outline: none;
    box-shadow: 0px 0px 7px 2px #d8d6d6;
  }
}
